@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

/* ADD THIS 👇 */
body {
  margin: 0;
  background-color: #89cff0 !important;
}

#root {
  background-color: #89cff0 !important;
}
